

<div class="row">
  <div class="col-sm-4">
    <form method="post">
      <h2>Call On Students</h2>
      <label>Period</label>
      <input type="number" id="period" name="period" value="{{period}}" />

      <br /> <br />
      <input type="hidden" id="studentsCalled" name="studentsCalled" value="{{studentsCalled}}" />
      <button type="submit" name="submit" value="call-on">Call On!</button>
      <button type="submit" name="submit" value="reset">Reset</button>
    </form>
    <br/>
  </div>
  <div class="col-sm-4">
    {{#if currentStudent}}
    <h1 class="well">{{currentStudent.firstName}} {{currentStudent.lastName}}</h1>
    {{/if}}
    {{#each studentsCalledDisplay}}
    <div class="well well-sm">
      {{this.firstName}} {{this.lastName}}
    </div>
    {{/each}}
  </div>
</div>
